# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
fonts/glyphicons-halflings-regular.svg
css/bootstrap-theme.css
css/bootstrap.css
fonts/glyphicons-halflings-regular.ttf
js/bootstrap.min.js
css/bootstrap-theme.min.css
/css/bootstrap.min.css
/fonts/glyphicons-halflings-regular.eot
/fonts/glyphicons-halflings-regular.woff
/js/bootstrap.js
